#mainArea{
    display: flex;
}
#mainArea ul{
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 0.5em;
    margin: 0;
    padding: 0;
}
#mainArea li{
   cursor: pointer; 
}
#editArea{
    padding-right: 2em;
    padding-left: 2em;
    flex-grow: 1;
}
